<!DOCTYPE html>

<html>
    <head>
        <title>EUSA Members API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/index.css" rel="stylesheet">
        <link href="/static/compsoc-icon.png" rel="icon">
    </head>

    <body>
        <nav>
            <div class="nav__brand">
                <img src="/static/compsoc-icon.png" alt="compsoc icon"/>
                <span class="nav__title">EUSA Members API</span>
            </div>
            <div class="nav__login">
            </div>
        </nav>
        <main>
            <h1>EUSA Members API</h1>

            <p>
                An internal <a href="//comp-soc.com" target="_blank">CompSoc</a> service to
                provide a programmatic interface to the EUSA website's
                canonical list, as well as some utilities to sync the member
                list with our email manager. This service is <a
                href="//github.com/compsoc-edinburgh/eusa-members-api"
                target="_blank">open-source</a> on Github.
            </p>

            <a href="/auth/google">Sign in with CompSoc &rarr;</a>
        </main>
    </body>
    
</html>
